requests==2.28.2
flask==2.2.2
pyinstaller==5.7.0
tqdm==4.65.0
PyYAML==6.0
scipy
moviepy
translatepy
torch==2.0.0
torchaudio==2.0.0 
torchvision
Pillow
faster_whisper
yt-dlp
aiohttp
aiofiles
tiktokapipy  #https://github.com/Russell-Newton/TikTokPy
playwright==1.29.1
playwright-stealth==1.0.5
pyee==9.0.4
#python3 -m playwright install
# 安装 chrome 依赖 https://blog.csdn.net/wgPython/article/details/102519342

